:root {
  background-image: url("../public/bg.jpeg");
  height: 100%;
  background-size: cover;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Raj;
  src: url("./assets//fonts/RalewayDots-Regular.ttf") format("opentype");
}